/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/roboto */
@import 'http://fonts.fontstorage.com/import/roboto.css';
/*
	Roboto, 100, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/
body {
  margin: 0px;
  padding: 0px;
  background-color: #282828;
  font-family: 'roboto';
  font-weight: bold;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.main-head {
  position: absolute;
  z-index: 2;
  /* margin-top: 20px; */
  line-height: 80px;
}
.wrap {
  position: relative;
  max-width: 1200px;
  min-height: 2416px;
  margin: 0 auto;
  background-color: #849d8f;
  background-image: url(/img/Фонglasy.png);
}
/* .claerfix:after {
  content: 'dffdfdfd';
  display: block;
  clear: both;
} */
.main-logo {
  margin: 9px 0px 0px 51px;
  float: left;
  flex-basis: 160px;
}
/* главное меню  */
ul.nav-main {
  flex-basis: 650px;
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.nav-main li {
  position: relative;
  /* float: left; */
  display: inline-block;

  line-height: 32px;
  /* height: 32px; */
}
.nav-main li a {
  display: block;
  font-size: 16px;
  padding: 0 20px;
  text-decoration: none;
  color: white;
}
ul.nav-main li a:hover {
  color: #282828;
  background-color: rgb(247, 246, 243);
  border-radius: 15px;
}
/* скрытое выпадающее меню */
.nav-main li:hover .drop {
  display: block;
}
ul.drop {
  margin: 0;
  padding: 0;
  width: 140px;
  display: none;
  position: absolute;
  list-style-type: none;
  top: 30px;
  left: -10px;
  background-color: rgb(247, 246, 243);
  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0px 15px 15px #2828288e;
}
ul.drop li {
  width: 100%;
}
ul.drop li a {
  display: block;
  color: inherit;
  font-size: 14px;
  font-weight: normal;
}
ul.drop li:first-child {
  border-bottom: 1px solid #000;

  text-align: center;
  font-size: 16px;
}
ul.drop li a:hover {
  border-radius: 0px;
  background: rgba(212, 94, 193, 0.63);
}

/* правое меню пользователя */

.nav-user {
  margin-top: 12px;
  margin-right: 50px;
  list-style-type: none;
  float: right;
  margin-left: 270px;
}
.nav-user li {
  display: inline-block;
}
.work-info {
  /* flex-basis: 300px; */
  margin-top: -50px;
  margin-left: 200px;
  margin-right: 50px;
  /* text-align: right; */
  float: right;
  font-size: 14px;
  color: #ffffff;
  width: 200px;
  height: 100px;
  display: block;

  /* clear: both; */
  /* margin-left: 1000px; */
}
span.work-info {
  margin-top: -80px;
  clear: both;
  /* text-align: right; */
  /* float: right; */
  font-size: 22px;
}
/* стили для слайдера  */
/* Общий блок и блок с слайдером имеют одинаковые размеры, чтобы идеально контролировать положение слайдера на странице. Пока отсутствуют слайды */

.features-slider {
  height: 2400px;
  width: 1200px;
}

.slider {
  height: 100%;

  position: relative;
  width: 100%;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.features-slider input {
  display: none;
}
/* Здесь мы пропишем общие стили для слайдов и каждый слайд отдельно: */

.slides {
  /* top: -50px; */
  height: 100%;
  position: absolute;

  width: 100%;
}
.slide1 {
  background-image: url(/img/fon1.png);
}
.slide2 {
  background-image: url(/img/fon2.jpg);
}
.slide3 {
  background-image: url(/img/fon3.jpg);
}

/* Так как радио-кнопки скрыты и нужны нам как переключатели, оформляем подготовленные лейблы: */
/* передвигаем блок в ценрт относительно wrapper */
.wrapper .controls {
  /* margin-left: -98px; */
  /* z-index: 2; */
  /* position: relative; */
}
/*делаем точки серые делаем элементы блочными */
.features-slider label {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 25px 12px 0 16px;
  position: relative;
  top: -1890px;
  z-index: 1;
  width: 10px;
  transition: background ease-in-out 0.5s;
  /* background: greenyellow; */
  border-radius: 50%;
}

/* добавляем к лейблам псевдоелементы  и ставим круги к лейблам зеленым*/
.features-slider label:after {
  border: 2px solid #ddd;
  content: ' ';
  display: block;
  height: 14px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 14px;
  /* transition: background ease-in-out 0.5s; */
  border-radius: 50%;
}
/* Пришло время научить слайдер переключать слайды по нажатию на определённую кнопку: */

.features-slider label:hover {
  background: #ddd;
}
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
  background: #ddd;
}
/* теперь делаем так, чтобы слайды наконец-то переключались: */

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3 {
  z-index: 1;

  /* transform: scale(1); */
}
button {
  width: 170px;
  height: 45px;
  background-color: #eb543a;
  border-radius: 30px;
  font-family: 'roboto';
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  text-shadow: 0 2px 5px #a0200b;
  box-shadow: 0px 2px 2px #a0200b;
}
button.main {
  width: 280px;
  height: 60px;
  background-color: #eb543a;
  border-radius: 30px;
  font-family: 'roboto';
  font-weight: bold;
  color: #ffffff;
  font-size: 32px;
}
.banner-foto1 {
  position: absolute;
  z-index: 1;
  color: white;
  margin: 50px;
  width: 560px;
  height: 227px;

  background-image: url(/img/malina.png);
}
