@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');

body,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  background-image: url(/img/bac-img.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
.button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: center;
  background-color: #000000;
  border: none;
}
.button:hover,
.button:active,
.button:focus {
  background: #663d15;
}
nav.main-navigaition {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}

.site-navigatin,
.user-navigation {
  list-style-type: none;
}
/* ul.site-navigatin li,
ul.user-navigation li {
  display: inline-block;
} */
.site-navigatin a,
.user-navigation a {
  color: #ffffff;
}

.site-navigatin a:hover,
.site-navigatin a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}
.feature-list {
  list-style-type: none;
}
.feature-item {
  text-align: center;
}
.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}
.index-colums {
  /* width: 940px; */

  color: #000000;
  background-color: #f8f5f2;
  background-image: url(/img/layer1.jpg);
  background-position: 0 0;
  background-repeat: repeat;
}
.index-colums h2 {
  font-size: 30px;
  line-height: 42px;
}

.new-list {
  list-style-type: none;
}
.new-item time {
  text-transform: none;
}
.galery-content {
  height: 165px;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}
.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}
.appointment-item input:focus {
  border-color: #663d15;
  outline: none;
}
.main-footer {
  color: #ffffff;
  background-color: #212121;
}
.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:active {
  text-decoration: none;
}
.footer-social ul {
  list-style: none;
}
.social-button {
  color: #ffffff;
}
.footer-social {
  text-align: center;
}
.footer-copir {
  text-align: center;
}
.footer-copir .button:hover,
.footer-copir .button:focus {
  color: #000000;
  background-color: #ffffff;
}
.modal {
  color: #000000;
  background-color: #f8f3f0;
}
.modal h2 {
  font-size: 30px;
  line-height: 42px;
}
.login-form input[type='text'],
.login-form input[type='password'] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}
.login-form input:focus {
  border-color: #663d15;
  outline: none;
}
.login-checkbox:hover,
.login-checkbox:active {
  color: #663d15;
}
.restore {
  color: #000000;
  text-decoration: underline;
}
.restore:hover,
.restore:focus {
  text-decoration: none;
}
