body {
  margin: 0px;
  padding: 0px;
  background-color: #282828;
}

.main-head {
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(img/Фонglasy.png);
  overflow: hidden;
}
.main-logo {
  float: left;
}
ul.nav-main {
  list-style-type: none;
  position: relative;
}
ul.nav-main li {
  margin-right: 10px;
  float: left;
  line-height: 32px;
  height: 32px;
}
.nav-main li a {
  display: block;
  font-style: 16px;
  padding: 0 20px;
  text-decoration: none;
  color: white;
}
ul.nav-main li a:hover {
  color: #282828;
  background-color: rgb(247, 246, 243);
  border-radius: 15px;
}
ul.drop {
  display: none;
  position: absolute;
  list-style-type: none;
  left: 118px;
}
.nav-main li:hover .drop {
  display: block;
}

.nav-user {
  list-style-type: none;
}
.nav-user li {
  float: right;
}
.work-info {
  clear: both;
  margin-left: 1000px;
}
